extends ./layout.jade

  
block content

	main

		section

			.container

				.row

					.col-lg-8

						a.btn.btn-lg.btn-success(
							hre="#"
						) test

						a.btn.btn-primary(
							hre="#"
						) test

						a.btn.btn-default(
							hre="#"
						) default

						a.btn.btn-info(
							hre="#"
						) Info

						a.btn.btn-outline-info(
							hre="#"
						) Info
						
						
						h1 title
						h2 title
						h3 title
						h4 title
						h5 title
						h6 h1 title
						p.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corporis debitis facere! Quae, mollitia?

						a(hre="#") link

					.col-lg-4

						siderbar.md-sidebar-right

							a.btn.btn-outline-info(
								hre="#"
							) Все новости
						
			//.container
		section
			.container
				h4.md-title-primary Поможем победить гепатит
				h4.md-title-primary  У нас Вы найдете только лучшую продукцию высокого качества, действительно полезную для здоровья: